<!DOCTYPE html>
  <head>
    <title>Badzilla-VM</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://badzilla.co.uk/themes/custom/beezee8/beezee8_favicon.ico" type="image/vnd.microsoft.icon" />
    <style>
      .container {
        font-size: 1.3rem;
      }
      .section-host {
        font-family: monospace;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      /* minor fallback styling for when loaded without an internet connection */
      .panel, .jumbotron, .well {
        margin-bottom: 20px;
      }
      td, th {
        padding: 8px;
      }
    </style>
  </head>
  <body>
    {# Sets vagrant IP if equals 0.0.0.0 #}
    {%- if vagrant_ip == '0.0.0.0' -%}
      {%- set vagrant_ip = ansible_all_ipv4_addresses[1] -%}
    {%- endif -%}
    {# Returns the hosts server name based on the document root #}
    {%- macro getServernameFromDocroot(path) -%}
      {%- if badzillavm_webserver == 'apache' -%}
        {%- for host in apache_vhosts -%}
          {%- if host.documentroot == path -%}
            {{ host.servername }}
          {%- endif -%}
        {%- endfor -%}
      {%- elif badzillavm_webserver == 'nginx' -%}
        {%- for host in nginx_vhosts -%}
          {%- if host.root == path -%}
            {{ host.server_name }}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endmacro -%}

    {%- macro printSite(servername, docroot, php) -%}
        <tr>
          <td><a href="http://{{ servername }}">{{ servername }}</a></td>
          <td><code>{{ docroot }}</code></td>
          <td><code>{{ php }}</code></td>
        </tr>
    {%- endmacro %}

    {%- macro printHostsEntry(ip, servername) -%}
      {%- if servername != ip -%}
        <li>{{ ip }} {{ servername }}</li>
      {%- endif -%}
    {%- endmacro %}

    {%- macro sectionHost() -%}
      <ul class="section-host">
          {%- for host in user_vhosts_conf -%}

            {% for server_name in host.server_name.split(' ') -%}
              {{ printHostsEntry(vagrant_ip, server_name) }}
            {%- endfor -%}

          {%- endfor -%}
      </ul>
    {%- endmacro -%}

    {%- macro sectionSiteList(vhosts) -%}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Hostname</th>
              <th>Document Root</th>
              <th>PHP Version</th>
            </tr>
          </thead>
          <tbody>
              {%- for hosts in vhosts.itervalues() -%}
                {%- for host in hosts.itervalues() -%}
                  {% if host.root is defined -%}
                    {% for single in host.server_name.split(' ') -%}
                      {{ printSite(single, host.root, host.php_version) }}
                    {%- endfor -%}  
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
          </tbody>
        </table>
      </div>
    {%- endmacro -%}

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <section class="jumbotron text-center">
            <a href="http://www.badzilla.co.uk/"><img src="http://docs.drupalvm.com/en/latest/images/drupal-vm-logo.png" alt="Badzilla VM" title="Welcome to Badzilla VM" class="img-responsive center-block"></a>
            <p><a href="https://github.com/sanddevil/badzilla-vm/commits/master">Badzilla-VM</a> is a lightweight VM for local Drupal development, built with Vagrant + Ansible. It is based on Jeff Geerling's Drupal VM. It offers multiple concurrent web versions of PHP without having to provision to switch between them - ideal for digital agency devs</p>
            <p><small>Machine name: <strong>{{ vagrant_machine_name }}</strong></small></p>
            <p><a class="btn btn-primary btn-lg" href="http://badzilla.co.uk/badzilla-vm/" role="button">About Badzilla VM</a></p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading">Your sites</div>
            <div class="panel-body">
              {{ sectionSiteList(user_vhosts_conf) }}
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading">Development tools</div>
            <div class="panel-body">
              {{ sectionSiteList(_devtool_docroots) }}
            </div>
          </section>
        </div>
      </div>      


 
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cosmo/bootstrap.min.css">
  </body>
</html>
