<!DOCTYPE html>
  <head>
    <title>Badzilla-VM</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://badzilla.co.uk/themes/custom/beezee8/beezee8_favicon.ico" type="image/vnd.microsoft.icon" />
    <style>
      .container {
        font-size: 1.3rem;
      }
      .section-host {
        font-family: monospace;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      /* minor fallback styling for when loaded without an internet connection */
      .panel, .jumbotron, .well {
        margin-bottom: 20px;
      }
      td, th {
        padding: 8px;
      }
    </style>
  </head>
  <body>
    {# Sets vagrant IP if equals 0.0.0.0 #}
    {%- if vagrant_ip == '0.0.0.0' -%}
      {%- set vagrant_ip = ansible_all_ipv4_addresses[1] -%}
    {%- endif -%}
    {# Returns the hosts server name based on the document root #}
    {%- macro getServernameFromDocroot(path) -%}
      {%- if badzillavm_webserver == 'apache' -%}
        {%- for host in apache_vhosts -%}
          {%- if host.documentroot == path -%}
            {{ host.servername }}
          {%- endif -%}
        {%- endfor -%}
      {%- elif badzillavm_webserver == 'nginx' -%}
        {%- for host in nginx_vhosts -%}
          {%- if host.root == path -%}
            {{ host.server_name }}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endmacro -%}

    {%- macro printSite(servername, docroot, php) -%}
        <tr>
          <td><a href="http://{{ servername }}">{{ servername }}</a></td>
          <td><code>{{ docroot }}</code></td>
          <td><code>{{ php }}</code></td>
        </tr>
    {%- endmacro %}

    {%- macro printHostsEntry(ip, servername) -%}
      {%- if servername != ip -%}
        <li>{{ ip }} {{ servername }}</li>
      {%- endif -%}
    {%- endmacro %}

    {%- macro sectionHost() -%}
      <ul class="section-host">
          {%- for host in user_vhosts_conf -%}

            {% for server_name in host.server_name.split(' ') -%}
              {{ printHostsEntry(vagrant_ip, server_name) }}
            {%- endfor -%}

          {%- endfor -%}
      </ul>
    {%- endmacro -%}

    {%- macro sectionSiteList(vhosts) -%}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Hostname</th>
              <th>Document Root</th>
              <th>PHP Version</th>
            </tr>
          </thead>
          <tbody>
              {%- for hosts in vhosts.itervalues() -%}
                {%- for host in hosts.itervalues() -%}
                  {% if host.root is defined -%}
                    {{ printSite(host.server_name, host.root, host.php_version) }}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
          </tbody>
        </table>
      </div>
    {%- endmacro -%}


    {%- macro sectionHost(vhosts) -%}
      {%- for hosts in vhosts.itervalues() -%}
        {%- for host in hosts.itervalues() -%}
          {% if host.root is defined -%}
            <ul class="section-host">
              {{ vagrant_ip }} {{ host.server_name }} 
            </ul>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    {%- endmacro -%}


    {%- macro sectionDevelopmentTools() -%}
    <div class="table-responsive">
      <table class="table">

        <thead>
          <tr>
            <th>Name</th>
            <th>Path</th>
            <th>PHP Version</th>
            <th>Home Site</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td><a href="http://{{ _devtool_docroots.adminer.template_params.server_name }}">Adminer</a>
              <td><code>{{ _devtool_docroots.adminer.template_params.root }}</code></td>
              <td><code>{{ _devtool_docroots.adminer.template_params.php_version }}</code></td>
              <td><a href="https://www.adminer.org/" class="btn btn-success btn-xs" target="_blank" role="button">Open</a></td>
            </tr>
            <tr>
              <td><a href="http://{{ vagrant_ip }}:8080">Jenkins</a>
              <td><code>{{ jenkins_home }}</code></td>
              <td><code>n/a</code></td>
              <td><a href="https://jenkins.io/" class="btn btn-success btn-xs" target="_blank" role="button">Open</a></td>
            </tr>              
            <tr>
              <td><a href="http://{{ vagrant_ip }}:8025">MailHog</a>
              <td><code>{{ mailhog_install_dir }}</code></td>
              <td><code>n/a</code></td>
              <td><a href="http://iankent.uk/project/mailhog/" class="btn btn-success btn-xs" target="_blank" role="button">Open</a></td>
            </tr>   
            <tr>
              <td><a href="http://{{ _devtool_docroots.pimpmylog.template_params.server_name }}">PimpMyLog</a>
              <td><code>{{ _devtool_docroots.pimpmylog.template_params.root }}</code></td>
              <td><code>{{ _devtool_docroots.pimpmylog.template_params.php_version }}</code></td>
              <td><a href="http://pimpmylog.com/" class="btn btn-success btn-xs" target="_blank" role="button">Open</a></td>
            </tr>
            <tr>
              <td><a href="http://{{ _devtool_docroots.xhprof.template_params.server_name }}">XHProf</a>
              <td><code>{{ _devtool_docroots.xhprof.template_params.root }}</code></td>
              <td><code>{{ _devtool_docroots.xhprof.template_params.php_version }}</code></td>
              <td><a href="https://github.com/phacility/xhprof" class="btn btn-success btn-xs" target="_blank" role="button">Open</a></td>
            </tr>                                          
        </tbody>
      </table>
      </div>
    {%- endmacro -%}


    {%- macro sectionPhpInformation() -%}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Version</th>
              <th>ini file</th>
              <th>Memory Limit</th>
              <th>phpinfo()</th>
            </tr>
          </thead> 
          <tbody>
            <tr>
                <td><code>5.6 CLI</code></td>
                <td><code>{{ php5_6_cli.path }}</code></td>
                <td><code>{{ php5_6_cli.memory_limit }}</code></td>
                <td><code>n/a</code></td>
            </tr>
            <tr>
                <td><code>5.6 Web</code></td>
                <td><code>{{ php5_6_web.path }}</code></td>
                <td><code>{{ php5_6_web.memory_limit }}</code></td>
                <td><a href="/server-info.php" class="btn btn-success btn-xs" role="button">Open</a></td>
            </tr>   
            <tr>
                <td><code>7.0 CLI</code></td>
                <td><code>{{ php7_0_cli.path }}</code></td>
                <td><code>{{ php7_0_cli.memory_limit }}</code></td>
                <td><code>n/a</code></td>
            </tr>
            <tr>
                <td><code>7.0 Web</code></td>
                <td><code>{{ php7_0_web.path }}</code></td>
                <td><code>{{ php7_0_web.memory_limit }}</code></td>
                <td><a href="/server-info.php" class="btn btn-success btn-xs" role="button">Open</a></td>
            </tr>
            <tr>
                <td><code>7.1 CLI</code></td>
                <td><code>{{ php7_1_cli.path }}</code></td>
                <td><code>{{ php7_1_cli.memory_limit }}</code></td>
                <td><code>n/a</code></td>
            </tr>
            <tr>
                <td><code>7.1 Web</code></td>
                <td><code>{{ php7_1_web.path }}</code></td>
                <td><code>{{ php7_1_web.memory_limit }}</code></td>
                <td><a href="/server-info.php" class="btn btn-success btn-xs" role="button">Open</a></td>
            </tr> 
            <tr>
                <td><code>7.2 CLI</code></td>
                <td><code>{{ php7_2_cli.path }}</code></td>
                <td><code>{{ php7_2_cli.memory_limit }}</code></td>
                <td><code>n/a</code></td>
            </tr>
            <tr>
                <td><code>7.2 Web</code></td>
                <td><code>{{ php7_2_web.path }}</code></td>
                <td><code>{{ php7_2_web.memory_limit }}</code></td>
                <td><a href="/server-info.php" class="btn btn-success btn-xs" role="button">Open</a></td>
            </tr>                              
          </tbody>
        </table>
      </div>
    {%- endmacro -%}

    {%- macro sectionDatabaseConnection() -%}
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>MySQL Hostname</th>
            <td><code>127.0.0.1</code></td>
          </tr>
          <tr>
            <th>MySQL Port</th>
            <td><code>{{ mysql_port }}</code></td>
          </tr>
          <tr>
            <th>MySQL Username</th>
            <td><code>{{ mysql_root_username }}</code></td>
          </tr>
          <tr>
            <th>MySQL Password</th>
            <td><code>{{ mysql_root_password }}</code></td>
          </tr>
          <tr>
            <th>SSH Hostname</th>
            <td><code>{{ vagrant_ip }}</code></td>
          </tr>
          <tr>
            <th>SSH Username</th>
            <td><code>{{ vagrant_user }}</code></td>
          </tr>
          <tr>
            <th>SSH Private Key</th>
            <td><code>~/.vagrant.d/insecure_private_key</code></td>
          </tr>
        </table>
      </div>
    {%- endmacro -%}


    {%- macro sectionDatabaseUsers() -%} 
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>User</th>
              <th>Password</th>
            </tr>
          </thead> 
          <tbody>
            {%- for user in mysql_users -%}
            <tr>
              <td><code>{{ user.name }}</code></td>
              <td><code>{{ user.password }}</code></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
    {%- endmacro -%}       

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <section class="jumbotron text-center">
            <a href="http://www.badzilla.co.uk/"><img src="http://docs.drupalvm.com/en/latest/images/drupal-vm-logo.png" alt="Badzilla VM" title="Welcome to Badzilla VM" class="img-responsive center-block"></a>
            <p><a href="https://github.com/sanddevil/badzilla-vm/commits/master">Badzilla-VM</a> is a lightweight VM for local Drupal development, built with Vagrant + Ansible. It is based on Jeff Geerling's Drupal VM. It offers multiple concurrent web versions of PHP without having to provision to switch between them - ideal for digital agency devs</p>
            <p><small>Machine name: <strong>{{ vagrant_machine_name }}</strong></small></p>
            <p><a class="btn btn-primary btn-lg" href="http://badzilla.co.uk/badzilla-vm/" role="button">About Badzilla VM</a></p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading">Your sites</div>
            <div class="panel-body">
              {{ sectionSiteList(user_vhosts_conf) }}
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading">Development tools</div>
            <div class="panel-body">
              {{ sectionSiteList(_devtool_docroots) }}
            </div>
          </section>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading">PHP Versions</div>
            <div class="panel-body">
              {{ sectionPhpInformation() }}
            </div>
          </section>
        </div>
      </div>           


      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading">Development Tools</div>
            <div class="panel-body">
              {{ sectionDevelopmentTools() }}
            </div>
          </section>
        </div>
      </div>  

      <div class="row">
        <div class="col-md-6">
          <section class="panel panel-default">
            <div class="panel-heading">MySQL connection information</div>
            <div class="panel-body">
              {{ sectionDatabaseConnection() }}
            </div>
          </section>
        </div>   

        <div class="col-md-6">
          <section class="panel panel-default">
            <div class="panel-heading">MySQL users</div>
            <div class="panel-body">
              {{ sectionDatabaseUsers() }}
            </div>
          </section>
        </div> 
      </div> 

      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <div class="panel-heading">/etc/hosts</div>
              <div class="panel-body">
                <section class="well small">
                  {{ sectionHost(user_vhosts_conf) }}
                  {{ sectionHost(_devtool_docroots) }}
                </section>
                <small>Unless you're using the <a href="https://github.com/cogitatio/vagrant-hostsupdater" target="_blank">vagrant-hostsupdater</a> or <a href="https://github.com/smdahlen/vagrant-hostmanager" target="_blank">vagrant-hostmanager</a> plugin, add the lines above to your host machine's hosts file.</small>
              </div>
          </section>
        </div>
      </div>            

 
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cosmo/bootstrap.min.css">
  </body>
</html>
